body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h2, h3, h4 {
    color: #333;
}

h1 {
    font-size: 3em;
    margin: 0.67em 0;
}
h2 {
    font-size: 2.5em;
    margin: 0.75em 0;
}
h3 {
    font-size: 2em;
    margin: 0.83em 0;
}
#itro {
    font-size: 1.5em;
    margin: 1em 0;
}

nav { 
    background-color: rgb(76, 135, 76);
    color: white;
    /* padding: 10px 100px; */
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    margin: 0;
    overflow: hidden;
    float: left;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}

#about, #projects, #contact, #skills {
    max-width: 800px;
    margin: 20px auto;
    padding: 100px;
    background-color: rgb(219, 243, 219);
}


header {
    background:linear-gradient(90deg, rgba(2,0,36,1), rgb(152, 237, 166), rgba(2,0,36,1));
    color: white;
    text-align: center;
    margin: auto;
    padding: 261px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about p, #skills ul {
    font-size: 1.2em;
    line-height: 1.6;
}
#skills ul {
    list-style-type: square;
    padding-left: 20px;
}

.project1, .project2, .project3 {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
#contact form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label, input, textarea {
    margin: 5px 0;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}